
<div class="footer-padding"></div>
  <div class="footer">
    <a class="btn btn-primary" href="https://github.com/patrickmwila" target="_blank"> <i class="fa-brands fa-github"></i> Github</a>
    <a class="btn btn-primary" href="https://twitter.com/ndinecoder" target="_blank"> <i class="fa-brands fa-twitter"></i> Twitter</a>
    <p> &#169; NdineCoder App Architect</p>
  </div>
</div>

</body>
</html>
