<%- include('./partials/header'); -%>

<div class="container about-container">

  <h1>Profile</h1>

  <div class="row justify-content-center profile-row">
    <div class="col-lg-3 col-md-4">
      <h3>About me</h3>
      <p>
        Currently I'm a full time student at the university of Zambia studying
        B.ICTs.Ed.
      </p>
    </div>

    <div class="col-lg-3 col-md-4">
      <img class="profile-img" src="/images/profile.jpeg" alt="profile-img">
    </div>

    <div class="col-lg-3 col-md-4">
      <h3>Details</h3>
      <p>
        <strong>Name:</strong><br>
        Patrick Mwila<br>
        <strong>Age:</strong><br>
        22 years<br>
        <strong>Location:</strong><br>
        Lusaka, Zambia		
      </p>
    </div>
  </div>
</div>

<%- include('./partials/footer'); -%>