<%- include ('./partials/header'); -%> 
  <div class="container" style="text-align: center;">
    <p>
      Thank you for contacting me. <br>
      Your message has been received.
    </p>
  </div>
<%- include ('./partials/footer'); -%> 