.about-container {
  background-color: #1e2127;
  border-radius: 20px;
  margin-top: 50px;
  padding: 20px 40px 40px 40px;
}

.profile-row {
  background-color: rgb(13, 17, 23);
}

.about-container h1 {
  padding: 10px 0;
}

.no-bullets {
  text-align: left;
  list-style: none;
}

.ability-title {
  display: inline-block;
  width: 60%;
}

.abilities-row,
.profile-row {
  border-radius: 20px;
  background-color: rgb(13, 17, 23);
  padding: 20px 0;
}
