/* tag selectors */
body {
  /*
    background-color: #1e2127;
  */
  background-color: rgb(13, 17, 23);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

body p {
  font-size: 20px;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding: 15px 0;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 5px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 900;
  font-family: Montserrat;
}

.navbar-nav li a:hover {
  color: #fff !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: inherit;
}

.footer p {
  margin-top: 25px;
  font-size: 14px;
  color: #fff;
}
